In [115]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [117]:
data = pd.read_csv("./Datasets/DataProcess.csv")

In [86]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [87]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [88]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [89]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

# Eksik Veriler

In [90]:
from sklearn.impute import SimpleImputer

Ortalama Alarak Nan Değelerini Doldurma Sadece Sayısal işlemler

In [91]:
imputer = SimpleImputer(missing_values=np.nan , strategy="mean")

X deki Age ve Salary Kısımları İçin Uygulama

In [92]:
imputer.fit(X[:, 1:3])
X[:, 1:3]=imputer.transform(X[:, 1:3])

In [93]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

One Hot Encoding

In [94]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

"encode" = yapılan işlem , OneHotEncode = işlem türü , [0] = işlemin uygulanacağı kolon indeksi ,
 remainder = "passthrough" = işlemi diğer kolonlara yapmaması

In [95]:
ct = ColumnTransformer(transformers=[("encoder" , OneHotEncoder(), [0])] , remainder = "passthrough")

In [96]:
X =np.array(ct.fit_transform(X))

In [97]:
print(X)

[[1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

LabelEncode

In [98]:
from sklearn.preprocessing import LabelEncoder

In [99]:
le = LabelEncoder()

In [100]:
y = le.fit_transform(y)

In [101]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

Test ve Train Verilerini Ayırma

In [102]:
from sklearn.model_selection import train_test_split

In [103]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 1)

In [104]:
print(X_train)

[[0.0 0.0 1.0 38.77777777777778 52000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 35.0 58000.0]]

In [105]:
print(X_test)

[[0.0 1.0 0.0 30.0 54000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

In [106]:
print(y_train)

[0 1 0 0 1 1 0 1]

In [107]:
print(y_test)

[0 1]

Standart Scaler

In [108]:
from sklearn.preprocessing import StandardScaler

In [109]:
sc = StandardScaler()

In [110]:
X_train[:,3:] = sc.fit_transform(X_train[:,3:])

In [111]:
X_test[:,3:] = sc.transform(X_test[:,3:])

In [112]:
print(X_train)

[[0.0 0.0 1.0 -0.19159184384578545 -1.0781259408412425]
 [0.0 1.0 0.0 -0.014117293757057777 -0.07013167641635372]
 [1.0 0.0 0.0 0.566708506533324 0.633562432710455]
 [0.0 0.0 1.0 -0.30453019390224867 -0.30786617274297867]
 [0.0 0.0 1.0 -1.9018011447007988 -1.420463615551582]
 [1.0 0.0 0.0 1.1475343068237058 1.232653363453549]
 [0.0 1.0 0.0 1.4379472069688968 1.5749910381638885]
 [1.0 0.0 0.0 -0.7401495441200351 -0.5646194287757332]]

In [113]:
print(X_test)

[[0.0 1.0 0.0 -1.4661817944830124 -0.9069571034860727]
 [1.0 0.0 0.0 -0.44973664397484414 0.2056403393225306]]