In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [5]:
dataset = pd.read_csv("./Datasets/DesicionTree.csv")

In [8]:
X = dataset.iloc[:,1].values
y = dataset.iloc[:,-1].values

In [10]:
print(X)
print(y)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Level, dtype: int64
0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64